/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .li-title {
  text-decoration: none;
  font-size: 25px;
  color: #337ab7;
 }

 li {
  padding: 10px 0px;
 }

 ul {
  list-style: none;
 }

 .ul-all {
  padding-left: 0px;
 }

 .container-small {
  margin: 10px auto;
  width: 500px;
 }

 .my-navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: rgb(236, 230, 230);
  border-top: 1px solid rgb(235, 229, 229);
  border-bottom: 1px solid rgb(235, 229, 229);
  align-items: center;
 }

 .nb-links {
  text-decoration: none;
  color: grey;
  font-size: 14px;
 }

 #main {
  font-size: 20px;
 }

 .title {
  display: flex;
  border-bottom: 1px solid rgb(210, 209, 209);
  align-items: center;
 }

 .fa-solid {
  color: black;
  font-size: 20px;
  padding: 0px 5px;
 }

 .content {
  padding: 10px 0px;
 }

 .btn-light {
  margin: 10px 0px;
 }
